{% extends 'basic-layout.html' %}

{% block content %}
    <h1> Login </h1>
    {% comment %} <p>If you have not signed up before click <input type="submit" value="Sign Up" href="{% url 'accounts:sign_up' %}"></p>     {% endcomment %}
    <form class="login-form" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <input type="submit" value="Login">
{% endblock %}